<footer class="b-footer">
  <div class="container">
    <div class="row">
      <div class="e-footer-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="e-footer-left">
          <div class="t">
            <div class="c">
              <a href="#" class="e-footer-text">2017 © магазин "Fenomen"</a>
            </div>
          </div>
        </div>
        <div class="e-footer-right">
          <div class="t">
            <div class="c">
              <ul class="b-footer-social-list">
                <li class="e-footer-item">
                  <a href="https://vk.com/fenomen_com" target="_blank" class="e-footer-social-link">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="e-footer-item">
                  <a href="" target="_blank" class="e-footer-social-link">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="e-footer-item">
                  <a href="" target="_blank" class="e-footer-social-link">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="../js/jquery-2.2.3.min.js"></script>


<script src="../js/jquery.maskedinput.min.js"></script>
<script src="../js/standart.js"></script>
<script src="../js/popup.js"></script>
<script src="../js/swiper.min.js"></script>
<script src="../js/jquery.fancybox.pack.js"></script>
<script src="../js/jquery.mCustomScrollbar.js"></script>
<script src="../js/global.js"></script>