<head>
  <meta charset="UTF-8">
  <title>Fenomen</title>
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="../style/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../style/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="../style/fonts.css">
  <link rel="stylesheet" type="text/css" href="../style/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="../style/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" type="text/css" href="../style/jquery.fancybox.css">
  <link rel="stylesheet" type="text/css" href="../style/magnify.css">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
</head>