@@include('all-pages.html')
<header class="b-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <nav class="b-nav">
              <ul class="e-nav-list">
                <li class="e-nav-item">
                  <div class="t">
                    <div class="c">
                      <a href="#" class="b-logo">
                        <span class="e-logo-text">fenomen</span>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="e-nav-item">
                  <a href="#" class="e-nav-link">
              <span class="t">
                    <span class="c">
                        <span class="e-nav-link-text">Главная</span>
                    </span>
              </span>
                  </a>
                </li>
                <li class="e-nav-item">
                  <a href="#" class="e-nav-link active">
              <span class="t">
                    <span class="c">
                        <span class="e-nav-link-text">Товары</span>
                    </span>
              </span>
                  </a>
                </li>
                <li class="e-nav-item">
                  <a href="#" class="e-nav-link">
              <span class="t">
                    <span class="c">
                        <span class="e-nav-link-text">Контакты</span>
                    </span>
              </span>
                  </a>
                </li>
                <li class="e-nav-item">
                  <a href="#" class="e-nav-link">
              <span class="t">
                    <span class="c">
                        <span class="e-nav-link-text">О нас</span>
                    </span>
              </span>
                  </a>
                </li>
                <li class="e-nav-item" data-button="1">
                  <div class="t">
                    <div class="c">
                      <div class="b-header-auth">
                        <div class="e-header-auth m-header-auth-sing-in">
                          <div class="t">
                            <div class="c">
                              <span class="b-icon"><i class="fa fa-sign-in" aria-hidden="true"></i></span>
                              <span class="e-header-auth-text">Вход / Регистрация</span>
                            </div>
                          </div>
                        </div>
                        <div class="e-header-auth m-header-auth-sing-out">
                          <div class="t">
                            <div class="c">
                              <span class="b-icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                              <span class="e-header-auth-text">Петр Епифанцев</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>